					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'index-home' %}">Home</a></li>
							<li><a href="{% url 'index-profile' %}">Profile</a></li>
							<li><a href="{% url 'index-projects' %}">Projects</a></li>
							<li><a href="{% url 'index-friends' %}">Friends</a></li>
						</ul>
					</nav>