{% load static %}
<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Mohammad Saddam Mashuri</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'index-home' %}" class="logo"><strong>MSM</strong> <span>| Home</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					{% include 'index/layouts/navbar.html' %}

				<!-- Banner -->
					<section id="banner" class="major">
				<div class="inner">
							<span class="image">
								<img src="{% static "images/mountain.jpg" %}" alt="" />
							</span>
							<header class="major">
								<h1>Mohammad Saddam Mashuri, I am.</h1>
							</header>
				  <div class="content">
								<p>My portfolio page.</p>
					<ul class="actions">
					  <li><a href="{% url 'index-profile' %}" class="button primary">Profile</a></li>
						<li><a href="{% url 'index-projects' %}" class="button primary">Projects</a></li>
					</ul>
					<ul class="actions">
					<li><a href="#contact" class="button next scrolly">Contact me</a></li>
					</ul>
							</div>
						</div>
					</section>
<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>About Me</h2>
								  </header>
									<span class="image center"><img src="{% static "images/me.PNG" %}" alt="" /></span>
									<p>My name is Mohammad Saddam Mashuri. People usually call me Saddam. I am an undergraduate student in Universitas Indonesia majoring in Computer Science. You can usually find me browsing the internet, looking for some source of entertainment. Also, I rarely went outside unless I need to. One of the courses I'm currently studying is 'Web Design & Programming'. This site is one of the assignments I've been working on.</p>
							  </div>
			  </section>

	</div>
				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<header class="major">
										<h3>Universitas Indonesia</h3>
										<p>Fakultas Ilmu Komputer</p>
										<p>MAUNG 2019</p>
										<p>NPM: 1906426891</p>
									</header>
								</article>
								<article>
									<header class="major">
										<h3>Hobbies</h3>
										<p>Playing games</p>
										<p>Guitar</p>
									</header>
								</article>
								
							</section>

						

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
<section class="split">
		  <section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">saddamonpc@gmail.com</a>
									</div>
		</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(+62) 8786 6943 392</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>Jl. Margonda Raya No.525A, Kota Depok<br />
										Depok 16424<br />
										Indonesia</span>
									</div>
								</section>
						  </section>
					  </div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.instagram.com/saddamonpc/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/saddamonpc" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
							</ul>
							{% include 'index/layouts/copyright.html' %}
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>