{% load static %}
<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Mohammad Saddam Mashuri</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{% url 'index-home' %}" class="logo"><strong>MSM</strong> <span>| Profile</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					{% include 'index/layouts/navbar.html' %}

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
							
								<div class="inner">
									<header class="major">
										<h1>Profile</h1>
									</header>
									<span class="image main"><img src="{% static "images/itisdone.jpg" %}" alt="" /></span>
									<p>Hi there, I am Saddam. I spend my days programming and producing music. I aspire to work in prominent companies, 
									such as Google, Intel, and etc. I've spent 3 years in Singapore while I was attending my 2nd year of middle school and 
									1st year of high school. I moved back to Indonesia in 2017 and got accepted in Universitas Indonesia majoring in Computer
									Science after graduating high school. I am staying here before going overseas again to continue my last 4 semesters in 2021 (hopefully).</p>
									<p>I'm constantly learning web design and other computer science related topics, currently playing around with
									Java and Javascript. Although I'm still amateur at these skills, I have great motivation to master it.</p>
									<p>I've dabbled in some organizations and participated in some competitions, such as:</p>
									<ul>
										<li>OSIS Documentary Division, 2016</li>
										<li>Participant of the Indonesian School of Singapore Physics Olympiad for Senior High School Level in Johor Bahru</li>
										<li>Finalist in a National Scale of Business and IT Olympiad (BIONIX 2018)</li>
									</ul>
									<p>For a more formal and complete overview of my life, please click the button below.</p>
									<a href="#" class="button primary icon solid fa-download">Download CV</a>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">saddamonpc@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>+62 878 6694 3392</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>Jl. Margonda Raya No.525A, Kota Depok<br />
										Depok 16424<br />
										Indonesia</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.instagram.com/saddamonpc/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/saddamonpc" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
							</ul>
							{% include 'index/layouts/copyright.html' %}
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>